/*************************************************************************************************
 *   	EmtZahella Projetcs Incorporated
 *                Projet :   ToWaQ
 *                  Page :   friendopedia.css
 *                Chemin :   http://127.0.0.1:8080/ToWaQ/config/css/friendopedia.css
 *                  Type :   page de modules
 * 				Contexte :	 Css 3.0
 *              Fonction :   page de styles d'affichage CSS
 *   Date mise en oeuvre :   26/11/2019
 *          Dernière MàJ :   26/11/2019
 *************************************************************************************************/
/*
Palette
	Saison 1  :		#1F3A81
	Saison 2  :		#D13328
	Saison 3  :		#116D86
	Saison 4  :		#F06F45
	Saison 5  :		#7C2880
	Saison 6  :		#1B776A
	Saison 7  :		#DC328A
	Saison 8  :		#3B95D1
	Saison 9  :		#FFCC00
	Saison 10 :		#8F2144

   background :		#61697D
   mauve bleu :		#67617D
   mauve rose :		#75617D
 	     vert : 	#61777D
		 kaki :		#777D61

	 Niveau 1 :		#456958
	 Niveau 2 :		#987D49
	 Niveau 3 :		#7F4D5B
*/
/***** ***** ***** En-tête graphique ***** ***** *****/
#friendop_header{
    background-image: url("../../media/pics/couch01_header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}
#fop_header{
	display: flex;
	justify-content: center;
    align-items: center;
    font-family: "KomikaDisplay";
	font-size: 70px;
	letter-spacing: 0.15em;
	color: #FFF;
	text-shadow: 2px 2px 4px #61777D;
}
#fop_header .red,#fop_header .blue,#fop_header .yellow{
	font-size: x-small;
	vertical-align: middle;
}
#fop_header .red{
	color: #AA0000;
}
#fop_header .blue{
	color: #1F85DE;
}
#fop_header .yellow{
	color: #DEAD1F;
}
#fop_subtitle{
    display: flex;
	justify-content: center;
    align-items: center;
    font-family: "UpperEastSide";
	font-size: 70px;
    letter-spacing: 0.1em;
    color: #FFF;
	text-shadow: 2px 2px 4px #61777D;
}
#friendop_header p{
    text-align: center;
    vertical-align: middle;
    font-family: "KomikaDisplay";
	font-size: 40px;
    letter-spacing: 0.15em;
    color: #FFF;
	text-shadow: 2px 2px 4px #61777D;
}
#friendop_header p .red,#friendop_header p .blue,#friendop_header p .yellow{
	font-size: x-small;
	vertical-align: middle;
}
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* * *** ***** ***** Media queries ***** ***** *** * */
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
/* Extra large devices (large desktops)
   No media query since the extra-large breakpoint has no upper bound on its width */