/*************************************************************************************************
 *   	EmtZahella Projetcs Incorporated
 *                Projet :   ToWaQ
 *                  Page :   mainView.css
 *                Chemin :   http://127.0.0.1:8080/ToWaQ/config/css/mainView.css
 *                  Type :   page de modules
 * 				Contexte :	 Css 3.0
 *              Fonction :   page de styles d'affichage CSS
 *   Date mise en oeuvre :   22/11/2019
 *          Dernière MàJ :   03/12/2019
 *************************************************************************************************/
/* ** ** ** ** Section Hud ** ** ** ** */
#secHud{
    background-image: url('../../media/pics/couch01_upside.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    padding: 0px 20px 20px 20px;
}
#secHud div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#secHud label{
    text-align: center;
    vertical-align: middle;
	font-family: "KomikaDisplay";
	font-size: 26px;
    letter-spacing: 0.2em;
    color: #C1C1C1;
    text-shadow: 1px 1px 2px #000;
}
#hudGame label{
    font-size: xx-large;
}
#hgScoreLabel{
    text-align: right;
}
#hgScore{
    height: 70px;
}
#askCounter{
    font-family: "NoteThis";
    font-size: 26px;
    color: #000;
    text-shadow: 1px 1px 2px #75617D;
    background-color: #C1C1C1;
    box-shadow: 2px 2px 4px #75617D;
}
#gameScore{
    font-family: "NoteThis";
    font-size: 28px;
    color: #000;
    text-shadow: 1px 1px 2px #444;
    background-color: #75617D;
    box-shadow: 2px 2px 4px #666;
}
/* ** ** ** ** Section Question ** ** ** ** */
#secAsk{
    padding: 0px 20px 20px 20px;
    border: 1px inset #75617D;
    box-shadow: 2px 2px 4px #000;
}
#secAsk label,#aiTitleUs,#aiTitleFr{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Desyrel";
    font-size: 34px;
    letter-spacing: 0.1em;
    color: #C1C1C1;
    text-shadow: 1px 1px 2px #000;
}
#aiTitleUs,#aiTitleFr{
    font-family: "NoteThis";
    letter-spacing: 0.1em;
    color: #C1C1C1;
    text-shadow: 1px 1px 2px #000;
}
#aiTitleFr{
    font-size: 30px;
}
#aiTitleUs{
    font-size: 24px;
}
/* ** ** ** ** Classes du label de catégorie ** ** ** ** */
#hqCategory{
    opacity: 0.92;
    font-family: "CaviarDreams";
    font-size: 26px;
    font-weight: 300;
    color: #000;
    text-shadow: 2px 2px 4px #C1C1C1;
}
.fears{
    background-color: #4BAEA0;
}
.history{
    background-color: #C2509F;
}
.literature{
    background-color: #D2AD0F;
}
.relatives{
    background-color: #6D50C2;
}
/* ** ** ** ** Classes du label de saison ** ** ** ** */
#seasonRow,#episodeRow{
    opacity: 0.9;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #61697D;
    border: 1px inset #75617D;
    box-shadow: 2px 2px 4px #000;
    border-top-right-radius: 45px;
	border-bottom-left-radius: 45px;
}
#episodeRow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-family: "NoteThis";
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.085em;
    color: #000;
    text-shadow: 1px 1px 3px #C1C1C1;
}
[class*="season"]{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Desyrel";
    font-size: 20px;
    color: #999;
    text-shadow: 1px 1px 3px #000;
    border-top-right-radius: 45px;
	border-bottom-left-radius: 45px;
}
.season1{
    background-color: #1F3A81;
}
.season2{
    background-color: #D13328;
}
.season3{
    background-color: #116D86;
}
.season4{
    background-color: #F06F45;
}
.season5{
    background-color: #7C2880;
}
.season6{
    background-color: #1B776A;
}
.season7{
    background-color: #DC328A;
}
.season8{
    background-color: #3B95D1;
}
.season9{
    background-color: #FFCC00;
}
.season10{
    background-color: #8F2144;
}
/* ** ** ** ** Question et son texte ** ** ** ** */
#askText{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61697D;
    border: 1px inset #75617D;
    box-shadow: 2px 2px 4px #000;
    border-top-right-radius: 45px;
	border-bottom-left-radius: 45px;
}
#askText div{
    padding-top: 5px;
    padding-bottom: 5px;
}
#askText div div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#response_bloc{
    padding-top: 5px;
    padding-bottom: 5px;
}
#askText p{
    padding: 20px 20px 0px 20px;
    font-family: "BlockLetterBalPen";
    font-size: 21px;
    text-align: center;
    color: #C1C1C1;
    text-shadow: 1px 1px 3px #000;
}
#askForReal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: hsl(339, 22%, 41%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b58b9a", endColorstr="#7f5161");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#b58b9a), to(#7f5161));
    background-image: -moz-linear-gradient(top, #b58b9a, #7f5161);
    background-image: -ms-linear-gradient(top, #b58b9a, #7f5161);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b58b9a), color-stop(100%, #7f5161));
    background-image: -webkit-linear-gradient(top, #b58b9a, #7f5161);
    background-image: -o-linear-gradient(top, #b58b9a, #7f5161);
    background-image: linear-gradient(#b58b9a, #7f5161);
    border-color: #7f5161 #7f5161 hsl(339, 22%, 35.5%);
    color: #C1C1C1 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
    -webkit-font-smoothing: antialiased;
    border: 1px inset #75617D;
    box-shadow: 2px 2px 4px #000;
    border-top-right-radius: 45px;
	border-bottom-left-radius: 45px;
}
#askForReal p{
    font-family: "Desyrel";
    font-size: 32px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #C1C1C1;
    text-shadow: 1px 1px 3px #000;
}
/* ** ** ** ** Media d'illustration ** ** ** ** */
#askMedia{
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgIllustration{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 1px inset #75617D;
    box-shadow: 2px 2px 4px #000;
    border-top-right-radius: 45px;
	border-bottom-left-radius: 45px;
}
/* ** ** ** ** Blocs de réponses ** ** ** ** */
#frmAnswer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    border: 1px inset #75617D;
    box-shadow: 2px 2px 4px #000;
    border-top-right-radius: 45px;
	border-bottom-left-radius: 45px;
}
[id*="answer"]{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin: 10px 15px 10px 15px;
    padding: 20px 20px 20px 30px;
    text-align: justify;
    font-family: "KomikaDisplay";
    font-size: 22px;
    letter-spacing: 0.04em;
    border-top-right-radius: 45px;
	border-bottom-left-radius: 45px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1550ms;
}
[id*="answer"]:hover{
    border-radius: 25px;
}
.ansUnselected{
    color: #C1C1C1;
    text-shadow: 1px 1px 2px #000;
    background-color: #61697D;
    border: 3px outset #75617D;
    box-shadow: 2px 2px 4px #000;
}
.ansUnselected:hover{
    font-size: x-large;
    color: #000;
    text-shadow: 1px 1px 2px #C1C1C1;
    background-color: #75617D;
    border: 3px outset #61697D;
    box-shadow: 2px 2px 4px #999;
}
.ansSelected{
    color: #000;
    text-shadow: 1px 1px 2px #C1C1C1;
    background-color: #75617D;
    border: 3px outset #61697D;
    box-shadow: 2px 2px 4px #999;
}
/* ** ** ** ** Blocs de résultat ** ** ** ** */
#response_bloc{
    padding: 20px 20px 20px 20px;
}
#response_bloc div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}
.responseGood,.responseBad{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    text-align: justify;
    font-family: "KomikaDisplay";
    font-size: 22px;
    letter-spacing: 0.04em;
    color: #C1C1C1;
    text-shadow: 1px 1px 2px #000;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 2px 2px 4px #000;
}
.responseGood p,.responseBad p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    text-align: justify;
}
.responseGood{
    background-color: #61697D;
    border: 2px inset rgb(15, 199, 15);
}
.responseBad{
    background-color: #777D61;
    border: 2px inset rgb(139, 6, 6);
}
.bravo,.perdu{
    font-size: 24px;
}
.bravo{
    color: rgb(15, 199, 15);
}
.perdu{
    color: rgb(139, 6, 6);
}
/* ** ** ** ** Bouton : question siuvante ** ** ** ** */
.nextQuestion,.btngame_end{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: hsl(261, 19%, 56%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeecf2", endColorstr="#8879a4");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#eeecf2), to(#8879a4));
	background-image: -moz-linear-gradient(top, #eeecf2, #8879a4);
	background-image: -ms-linear-gradient(top, #eeecf2, #8879a4);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeecf2), color-stop(100%, #8879a4));
	background-image: -webkit-linear-gradient(top, #eeecf2, #8879a4);
	background-image: -o-linear-gradient(top, #eeecf2, #8879a4);
	background-image: linear-gradient(#eeecf2, #8879a4);
	border-color: #8879a4 #8879a4 hsl(261, 19%, 46.5%);
	-webkit-font-smoothing: antialiased;
    font-family: "KomikaDisplay";
    letter-spacing: 0.04em;
    color: #000 !important;
    text-shadow: 1px 1px 2px #C1C1C1;
    border: 3px outset #75617D;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 2px 2px 4px #000;
    transition-property: all;
    transition-duration: 1250ms;
    -moz-transition-property: all;
    -moz-transition-duration: 1250ms;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1250ms;
}
.nextQuestion{
    font-size: 22px;
}
.nextQuestion:hover{
    font-size: x-large;
}
.btngame_end{
    font-size: 30px;
}
.btngame_end:hover{
    font-size: xx-large;
}
.nextQuestion:hover,.btngame_end:hover{
    background-color: hsl(31, 25%, 65%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2d9cf", endColorstr="#bca68f");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#e2d9cf), to(#bca68f));
	background-image: -moz-linear-gradient(top, #e2d9cf, #bca68f);
	background-image: -ms-linear-gradient(top, #e2d9cf, #bca68f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2d9cf), color-stop(100%, #bca68f));
	background-image: -webkit-linear-gradient(top, #e2d9cf, #bca68f);
	background-image: -o-linear-gradient(top, #e2d9cf, #bca68f);
	background-image: linear-gradient(#e2d9cf, #bca68f);
	border-color: #bca68f #bca68f hsl(31, 25%, 60%);
	-webkit-font-smoothing: antialiased;
    color: #000 !important;
    text-shadow: 1px 1px 2px #C1C1C1;
    border: 3px outset #61697D;
    box-shadow: 2px 2px 4px #999;
}
/* ** ** ** ** Page : fin de partie ** ** ** ** */
#game_end{
    background-image: url('../../media/pics/backgrounds/greenw01.jpg');
    background-size: cover;
}
#game_end label{
    padding-left: 60px;
    background-color: hsl(31, 25%, 65%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2d9cf", endColorstr="#bca68f");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#e2d9cf), to(#bca68f));
	background-image: -moz-linear-gradient(top, #e2d9cf, #bca68f);
	background-image: -ms-linear-gradient(top, #e2d9cf, #bca68f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2d9cf), color-stop(100%, #bca68f));
	background-image: -webkit-linear-gradient(top, #e2d9cf, #bca68f);
	background-image: -o-linear-gradient(top, #e2d9cf, #bca68f);
	background-image: linear-gradient(#e2d9cf, #bca68f);
	border-color: #bca68f #bca68f hsl(31, 25%, 60%);
	-webkit-font-smoothing: antialiased;
    color: #000 !important;
    font-family: "KomikaDisplay";
    font-size: 30px;
    text-shadow: 1px 1px 2px #C1C1C1;
    border: 3px outset #61697D;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
}
#gend_partie,#gend_player{
    margin-top: 15px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #75617D;
    border: 3px inset #75617D;
    box-shadow: 2px 2px 4px #000;
    border-top-right-radius: 45px;
	border-bottom-left-radius: 45px;
}
#gend_score,#gend_playerstats{
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #61697D;
    border: 1px outset #75617D;
    box-shadow: 2px 2px 4px #000;
    border-top-right-radius: 45px;
	border-bottom-left-radius: 45px;
}
#gend_playerstats .row{
    padding-left: 15px;
    padding-right: 15px;
}
.gend_gamelabels{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "NoteThis";
    font-size: 38px;
    letter-spacing: 0.08em;
    color: #C1C1C1;
    text-shadow: 1px 1px 2px #000;
}
.gend_labels{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "NoteThis";
    font-size: 34px;
    letter-spacing: 0.04em;
    color: #C1C1C1;
    text-shadow: 1px 1px 2px #000;
}
.gend_rublabels{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 60px;
    background-color: #61777D;
    font-family: "NoteThis";
    font-size: 28px;
    letter-spacing: 0.08em;
    color: #000;
    text-shadow: 1px 1px 2px #C1C1C1;
    border: 1px outset #75617D;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    box-shadow: 1px 1px 2px #000;
}
.gend_numbers,.gend_numbersbig{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Desyrel";
    text-shadow: 1px 1px 2px #C1C1C1;
}
.gend_numbers{
    font-size: 30px;
}
.gend_numbersbig{
    font-size: 36px;
}
.meter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.meter meter{
    box-shadow: 1px 1px 2px #000;
}
.fa-balance-scale{
    color: rgb(221, 146, 6);
    text-shadow: 2px 2px 4px #000;
}
.fa-balance-scale-right{
    color: rgb(15, 199, 15);
    text-shadow: 2px 2px 4px #000;
}
.fa-balance-scale-left{
    color: rgb(139, 6, 6);
    text-shadow: 2px 2px 4px #000;
}
[id*="gend_catlabel"]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Desyrel";
    font-size: 20px;
    font-weight: 100;
    text-shadow: 1px 1px #C1C1C1;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    box-shadow: 1px 1px 2px #000;
}
#gend_catlabel1{
    background-color: #4BAEA0;
}
#gend_catlabel2{
    background-color: #C2509F;
}
#gend_catlabel3{
    background-color: #D2AD0F;
}
#gend_catlabel4{
    background-color: #6D50C2;
}
 /***** ***** ***** ***** ***** ***** ***** ***** *****/
/* * *** ***** ***** Media queries ***** ***** *** * */
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
/* Extra large devices (large desktops)
   No media query since the extra-large breakpoint has no upper bound on its width */