/*************************************************************************************************
 *   	EmtZahella Projetcs Incorporated
 *                Projet :   ToWaQ
 *                  Page :   mainView.css
 *                Chemin :   http://127.0.0.1:8080/ToWaQ/config/css/mainView.css
 *                  Type :   page de modules
 * 				Contexte :	 Css 3.0
 *              Fonction :   page de styles d'affichage CSS
 *   Date mise en oeuvre :   22/11/2019
 *          Dernière MàJ :   22/11/2019
 *************************************************************************************************/
/* ** ** ** ** Section Hud ** ** ** ** */
#secHud{
    background-image: url('../../media/pics/couch01_upside.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
#secHud div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#secHud label{
    text-align: center;
    vertical-align: middle;
	font-family: "KomikaDisplay";
	font-size: 26px;
    letter-spacing: 0.2em;
    color: #C1C1C1;
    text-shadow: 1px 1px 2px #000;
}
#hudGame label{
    font-size: xx-large;
}
#hgScoreLabel{
    text-align: right;
}
#hgScore{
    height: 70px;
}
#askCounter{
    font-family: "NoteThis";
    font-size: 26px;
    color: #000;
    text-shadow: 1px 1px 2px #75617D;
    background-color: #C1C1C1;
    box-shadow: 2px 2px 4px #75617D;
}
#gameScore{
    font-family: "NoteThis";
    font-size: 28px;
    color: #000;
    text-shadow: 1px 1px 2px #444;
    background-color: #75617D;
    box-shadow: 2px 2px 4px #666;
}


/* ** ** ** ** Classes du label de catégorie ** ** ** ** */
#hqCategory{
    opacity: 0.9;
    font-family: "CaviarDreams";
    font-size: 26px;
    font-weight: 300;
    color: #000;
    text-shadow: 2px 2px 4px #C1C1C1;
}
.fears{
    background-color: #4BAEA0;
}
.history{
    background-color: #C2509F;
}
.literature{
    background-color: #D2AD0F;
}
.relatives{
    background-color: #6D50C2;
}

 /***** ***** ***** ***** ***** ***** ***** ***** *****/
/* * *** ***** ***** Media queries ***** ***** *** * */
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
/* Extra large devices (large desktops)
   No media query since the extra-large breakpoint has no upper bound on its width */